@use './reset.scss' as *;
//HEADER

.header {
	margin-top: 10%;
	&__position {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding: 3em 0;
	}
	&__welcome-h1 {
		font-size: 3.7em;
		padding: 0.5em;
		max-width: 100%;
		min-height: 100%;
	}
	&__welcome-text {
		font-size: 2rem;
		color: $secondlyColor;
	}
	&__welcome-btn {
		padding: 0.7em 1em;
		margin: 1em;
		border: 1px solid rgb(54, 48, 48);
		border-radius: 1.2em;
		font-size: 2rem;
		background: none;
	}
	&__welcome-btn:hover {
		cursor: pointer;
	}
}
